* {
    padding: 0;
    margin: 0;
} 


body{
    background-image:url("backgroundimg.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 9100px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: top left;
    cursor: url("plane.PNG"), auto;


}
@keyframes fadeInOut {
    0% {
      opacity: 0; /* 初始时完全透明 */
      transform: translateY(-50px); /* 向上移动一些距离 */
    }
    50% {
      opacity: 1; /* 中间状态完全不透明 */
      transform: translateY(0); /* 恢复到原始位置 */
    }
    100% {
      opacity: 1; /* 最终状态完全不透明 */
      transform: translateY(0); /* 保持在原始位置 */
    }
  }
.text{
    font-family: "bryant-web", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 80px;
    background-color: #fff6dc; /* 设置背景颜色 */
    padding: 10px; /* 添加一些内边距，增加可读性 */
    display: inline-block;
    border-radius: 35px;
    border: 5px solid #00a2c2;
    color: #00726a;
    animation: fadeInOut 1s ease-out;
    
}
.secimage{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
align-items: stretch;
justify-content: center;
height: 260px;

}
img {
    width: 50%;
    object-fit: contain;
    /* width: 500px; */
    height: auto;
    transition: transform 0.3s ease; /* 添加过渡效果 */
    cursor: pointer; /* 鼠标指针变为手型 */
    
  }

/* #image1{
    width: 500px;
    margin-right: 10px;
} */
.spaceup{
    min-height: 30px;
}
.spacedown{
    min-height: 100px;
}

.trigger{
    height: 1px;
}

#reveal1{
    opacity: 0;
    transition: opacity 1s ease;

}
#reveal1.visible{
    opacity: 1;
}

.jump{
    display: flex;
    justify-content: center;
    align-items: center;

}

#reveal2{
    opacity: 0;
    transition: opacity 1s ease;

}
#reveal2.visible{
    opacity: 1;
}

#reveal3{
    opacity: 0;
    transition: opacity 1s ease;

}
#reveal3.visible{
    opacity: 1;
}

.growup{
    display: flex;
    justify-content: center;
    align-items: center;


}


#reveal4{
    opacity: 0;
    transition: opacity 1s ease;

}
#reveal4.visible{
    opacity: 1;
}
#reveal4{
    opacity: 0;
    transition: opacity 1s ease;

}
#reveal4.visible{
    opacity: 1;
}

.scard{
    display: flex;
    justify-content: center;
    align-items: center;

}


/* 图片轮播图 */
.a {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.b {
    width: 900px;
    height: 400px;
    transition: .4s;
    background-size: cover;
}

.c {
    width: 200px;
    height: 400px;
    display: flex;
    /* 纵向布局 */
    flex-direction: column;
    justify-content: space-between;
}

.d {
    position: relative;
    width: 200px;
    height: 90px;
    right: 0;
    transition: .5s;
    overflow: hidden;
}

.d img {
    position: absolute;
    width: 200px;
    /* 小图片上移 */
    transform: translate(0, -50px);
    transition: .5s;
    right: 0;
}

.d.dd {
    opacity: 0;
    right: 250px;
}

.d:hover img {
    opacity: 0;
    right: 250px;
} 

.thanks{
    font-family: "bubblegum-pop-highlight", sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: rgb(17, 199, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    animation: grow 5s steps(44) normal both,
      blink 500ms steps(44) infinite normal;
}
@keyframes grow {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    from {
      border-right-color: #eee;
    }
    to {
      border-right-color: transparent;
    }
  }


.fa-regular.fa-star {
    position: absolute;
    top: -20px;
    color: #fff;
    animation: animate 5s linear forwards;
  }

  .fa-regular.fa-star::before {
    content: '\f0c2'; /* 修改星星图标 */
    font-family: fontAwesome;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 50px #fff;
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg) rotateY(360deg);
      opacity: 0;
    }
  }




.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 0 auto;
    gap: 150px;
}

.image-container {
    width: 75%; /* 修改图片宽度 */
    height: auto; /* 高度自适应 */
    /* 添加其他样式 */
}
 
