@font-face {
    font-family: Jua;
    src: url('Jua-Regular.ttf');
  }
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.clock {
    position: relative;
    margin: auto;
    height: 92vmin;
    width: 92vmin;
    background: url(clock1.gif) no-repeat;
    background-size: 100%;
}
.hour, .minute, .second {
    position: absolute;
    
    border-radius: 10px;
    transform-origin: bottom;
}
.hour {
    background: rgb(218, 46, 46);
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    /* opacity: 0.8; */
    transform-origin: 50% 97.3%;
}

.minute {
    background: rgb(240, 207, 43);
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    /* opacity: 0.8; */
    transform-origin: 50% 99%;
}
.second {
    background: rgb(17, 167, 213);
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
    transform-origin: 50% 100%;
}
.upload, .dot{
    position: absolute;
    width: 1%;
    height: 50%;
    transform-origin: bottom;
    /* transform: translate(-50%) rotate(var(--_d)); */
    left: 50%;
}
.dot{
    transform: translate(-50%) rotate(var(--_d));
}
.dot div{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%) rotate(calc(-1*var(--_d)));
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    top: 0;
    left: 50%;
    transform-origin: center;
}
.dot .dots img {
    width: 20px;
    height: 20px;
    z-index: 1000;
}
.upload {
    z-index: -1;
}
.upload img{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%) rotate(calc(-1*var(--_d)));
    position: absolute;
    width: 100px;
    height: 100px;
    /* border-radius: 25px; */

    top: 0;
    left: 50%;
    transform-origin: center;

}

.dot:nth-child(1) { --_d: 30deg; }
.dot:nth-child(2) { --_d: 60deg; }
.dot:nth-child(3) { --_d: 90deg; }
.dot:nth-child(4) { --_d: 120deg; }
.dot:nth-child(5) { --_d: 150deg; }
.dot:nth-child(6) { --_d: 180deg; }
.dot:nth-child(7) { --_d: 210deg; }
.dot:nth-child(8) { --_d: 240deg; }
.dot:nth-child(9) { --_d: 270deg; }
.dot:nth-child(10) { --_d: 300deg; }
.dot:nth-child(11) { --_d: 330deg; }
.dot:nth-child(12) { --_d: 360deg; }

.upload-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 34px;
    background: rgb(41, 193, 240);
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.upload-button input{
    display: none;
}
.upload-button label {
    color: #063743;
font-family: Jua;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.gray img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }